# Ignore all target folders in all microservices
**/target/
**/*.class

# Ignore IDE files in all microservices
**/.idea/
**/*.iml
**/.settings/
**/.classpath
**/.project

# Ignore uploaded files
**/uploads/

# tp
.idea
build/
*.log
.DS_Store
.env
