spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/usersMicro
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8090

jwt:
  secret: mySuperSecretKey123457684hfhru49463geheje9e6464gfhjfi49474653739hdgrt457e8hfh
  expiration: 86400000


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
